@import '../../../assets/scss/main.scss';

.categoryInformationAlignment {
    padding: rem(40 0 60 0);
    @include sm {
    padding: rem(50 0 100 0);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(25);
        @include md {
        grid-template-columns: 1fr rem(440);
        }

        .trendingBlogDesign {
            margin: 0 0 20px 0;
            border: 1px solid getColorHex('border-color-2');
            padding: rem(14);
            border-radius: rem(12);

            @include sm {
            padding: rem(30);
            margin: 80px 0 50px 0;
            }
         
        }
        .stickyTop {
            position: sticky;
            top: -100px;
        }
    }
}