@import '../../../assets/scss/main.scss';

.categoryTopbar {
    border-bottom: 1px solid getColorHex('border-color-2');
    padding: rem(20 0);

    h1 {
        font-size: rem(32);
        @include heading-font;
        text-align: center;
        color: getColorHex('black');
    }

    .line {
        width: rem(50);
        height: rem(1);
        background-color: getColorHex('border-color-2');
        margin: 0 auto;
    }

    span {
        display: block;
        font-size: rem(16);
        padding: rem(10 0 0 0);
        line-height: normal;
        opacity: 0.95;
        color: getColorHex('gray-800');
        text-align: center;
        @include body-medium;
    }
}