@import '../../../assets/scss/main.scss';

.profileDetailsAllContentAlignment {
    padding: rem(35 0 60 0);

    .title {
        padding: rem(0 0 30 0);

        h1 {
            font-size: rem(24);
            @include heading-font;
            color: getColorHex('black');
        }
    }

    .box {
        border: 1px solid getColorHex('border-color-2');
        padding: rem(40);
        border-radius: rem(12);

        .blogInfo {
            padding: rem(35 0 0 0);

            h2 {
                font-size: rem(18);
                @include body-bold;
                margin: rem(0 0 25 0);
                color: getColorHex('black');
            }

            .buttonAlignment {
                display: flex;
                align-items: center;
                gap: rem(15);
                flex-wrap: wrap;
                button {
                    border-radius: 9999px;
                    padding: rem(11 50);
                    border: 1px solid getColorHex("gray");
                    font-size: rem(16);
                    cursor: pointer;
                    letter-spacing: 0.48px;
                    line-height: rem(28);
                    color: getColorHex('gray');
                    background-color: transparent;
                    @include body-bold;
                    transition: .3s ease-in-out;

                    &:hover {
                        border: 1px solid getColorHex('black');
                        background-color: getColorHex('black');
                        color: getColorHex('white');
                    }
                    &.selected {
                        border: 1px solid getColorHex('black');
                        background-color: getColorHex('black');
                        color: getColorHex('white');
                    }
                }
            }
        }

        .allAlignment {
            padding: rem(0 0 40 0);
            border-bottom: 1px solid getColorHex('border-color-2');
        }

        .twoColGrid {
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            align-items: flex-end;
            gap: rem(30);

            &.gap {
                gap: rem(15);
            }
            
        }

        .button {
            button {
                padding: rem(14);
                font-size: rem(16);
                @include body-bold;
                width: 100%;
                letter-spacing: 0.48px;
                border-radius: 999px;
                cursor: pointer;

                &.outline {
                    border: 1px solid getColorHex('gray');
                    color: getColorHex('gray');
                    background-color: transparent;
                }

                &.fill {
                    border: 1px solid transparent;
                    background-color: getColorHex('black');
                    color: getColorHex('white');
                }
            }
        }

        .profileHeaderalignment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(0 0 35 0);

            .button {
                button {
                    border: none;
                    padding: rem(2 10);
                    cursor: pointer;
                    border-radius: 99px;
                    font-size: rem(12);
                    line-height: rem(20);
                    letter-spacing: 0.48px;
                    display: flex;
                    align-items: center;
                    gap: rem(4);
                    @include body-bold;

                    &.fill {
                        color: getColorHex('white');
                        background-color: getColorHex('black');
                    }

                    &.outline {
                        border: 1px solid getColorHex('black');
                        background-color: transparent;
                        color: getColorHex('black');
                    }

                    @include md {
                        gap: rem(8);
                        font-size: rem(15);
                        padding: rem(8 25);
                        height: rem(50);
                        line-height: rem(24);
                    }

                    svg {
                        width: rem(14);

                        @include md {
                            width: auto;
                        }
                    }
                }
            }

            .leftContent {
                display: flex;
                gap: rem(30);
                align-items: center;

                p {
                    font-size: rem(24);
                    @include heading-font;
                    margin: rem(0 0 12 0);
                    color: getColorHex('black');
                }

                span {
                    display: block;
                    font-size: rem(16);
                    @include body-medium;
                    color: getColorHex("gray");
                }

                .profile {
                    position: relative;
                    background-color: rgba(41, 45, 54, 0.15);
                    width: rem(100);
                    height: rem(100);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                      background-color: rgba(41, 45, 54, 0.15);
                      width: rem(100);
                      height: rem(100);
                      border-radius: 50%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .editIcon {
                      cursor: pointer;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
    .selectDropdownDesign {
        padding: rem(0 0 20 0);
    
        .dropdownDesign {
          position: absolute;
          left: 0;
          width: 100%;
          box-shadow: 0px 9px 28px 8px #0000000D;
          background-color: getColorHex('white');
          z-index: 99;
    
          span {
            display: block;
            padding: rem(12 20);
            cursor: pointer;
            color: getColorHex('gray-870');
            @include body-medium;
            transition: .3s ease-in-out;
    
            &:hover {
              background-color: getColorHex('black');
              color: getColorHex('white');
            }
          }
    
          &.hide {
            max-height: 0px;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            visibility: hidden;
          }
    
          &.show {
            max-height: 284px;
            overflow: auto;
            transition: 0.3s ease-in-out;
            visibility: visible;
          }
        }
    
        label {
          font-size: rem(14);
          @include body-medium;
          line-height: rem(20);
          display: block;
          padding: rem(0 0 8 0);
          color: getColorHex('gray-900');
    
          @media (max-width:1500px) {
            font-size: rem(14);
            line-height: rem(20);
            padding: rem(0 0 5 0);
          }
        }
    
        .relative {
          position: relative;
    
          .icon {
            position: absolute;
            right: rem(16);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            cursor: pointer;
    
            &.toggleIcon {
              svg {
                transform: rotate(0deg);
              }
            }
            &.toggledIcon{
              svg{
                transform: rotate(180deg);
              }
            }
    
            svg {
              transition: .3s ease-in-out;
            }
          }
        }
    
        input {
          width: 100%;
          height: rem(50);
          padding: rem(0 20);
          font-size: rem(16);
          border-radius: rem(6);
          @include body-medium;
          line-height: rem(24);
          color: getColorHex('black');
          @include transition-3s;
          border: 1px solid getColorHex('border-color-5');
    
          @media (max-width:1500px) {
            height: rem(50);
          }
    
          &:focus {
            outline: none;
            border: 1px solid getColorHex('black');
          }
        }
    
        ::placeholder {
          font-size: rem(16);
          @include body-medium;
          line-height: rem(24);
          color: getColorHex('gray-870');
        }
      }
}