@import '../../../assets/scss/main.scss';

.footer {
    padding: rem(50 0 0 0);
    background-color: getColorHex('black');

    .copyRight {
        padding: rem(26 0);

        p {
            font-size: rem(14);
            line-height: rem(20);
            @include body-medium;
            text-align: center;
            color: getColorHex('white');
            @include md {
                font-size: rem(16);
                line-height: rem(20);
            }
        }
    }

    .footerAlignment {
       
        padding: rem(0 0 40 0);
        border-bottom: 1px solid rgb(255, 255, 255, 0.15);
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(40);
        @include lg {
            display: flex;
            justify-content: space-between;
        }

        .iconTextAlignment:last-child {
            padding: rem(0);
        }

        .iconTextAlignment {
            display: flex;
            gap: rem(12);
            align-items: flex-start;
            padding: rem(0 0 20 0);

            svg {
                position: relative;
                top: rem(2);
            }

            a {
                display: block;
                color: getColorHex('white');
                max-width: rem(276);
                font-size: rem(16);
                line-height: rem(24);
            }
        }

        .menu {
            a {
                display: block;
                padding: rem(0 0 21 0);
                font-size: rem(14);
                @include body-medium;
                color: getColorHex('white');
                cursor: pointer;
                @include md {
                    font-size: rem(16);
                }
            }

            a:last-child {
                padding: rem(0);
            }
        }

        h2 {
            font-size: rem(20);
            line-height: normal;
            color: getColorHex('white');
            margin: rem(0 0 30 0);
            @include heading-font;
        }

        .firstContnet {
            .logo {
                padding: 0 0 20px 0;

                img {
                    cursor: pointer;
                    max-width: 152px;
                    display: block;
                }
            }

            .text {
                max-width: 450px;

                p {
                    color: getColorHex('white');
                    @include body-medium;
                    font-size: rem(14);
                    line-height: rem(24);
                    @include md {
                        font-size: rem(16);
                        line-height: rem(28);
                    }
                }
            }
        }
    }
}