@import '../../../../assets/scss/main.scss';

.trendingBlog {
    .sectionTitle {
        display: flex;
        align-items: center;
        gap: rem(14);
        padding: rem(0 0 10 0);

        h3 {
            font-size: rem(18);
            text-transform: capitalize;
            color: getColorHex('black');
            line-height: normal;
            @include heading-font;
        }
    }

    .moreButton {
        padding: rem(16 0 0 0);
        display: flex;
        align-items: center;
        gap: rem(5);
        cursor: pointer;
        
        @include md {
            padding: rem(0);
        }

        &:hover {
            svg {
                transform: translate(3px, -3px);
            }
        }

        svg {
            @include transition-3s;
        }

        span {
            display: block;
            font-size: rem(16);
            @include body-bold;
            color: getColorHex('black');
            line-height: normal;
            letter-spacing: 0.48px;
        }
    }

    .blogCardalignment {
        .blogCard:last-child {
            border: none;
        }

        .blogCard {
            padding: rem(20 0);
            border-bottom: rem(1) solid getColorHex("border-color-3");

            @include md {
                padding: rem(20 0);
            }

            span {
                display: block;
                font-size: rem(12);
                color: getColorHex('gray');
                line-height: normal;
                @include body-medium;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                @include md {
                    font-size: rem(14);
                    line-height: rem(22);
                }
            }

            h3 {
                font-size: rem(16);
                @include heading-font;
                color: getColorHex('black');
                margin: rem(0 0 10 0);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                &:hover{
                    text-decoration: underline;
                }
            }

            .profileGrid {
                display: grid;
                grid-template-columns: 34px 1fr;
                gap: rem(10);
                align-items: center;

                @include md {
                    padding: rem(12 0 0 0);
                }
                @include sm {
                    padding: rem(12 0 0 0);
                }

                p {
                    font-size: rem(13);
                    @include body-medium;
                    color: getColorHex('gray');
                    line-height: normal;

                    @include md {
                        font-size: rem(13);
                    }
                }

                .profileImage {
                    width: 100%;
                    height: 100%;

                    .profileImageStyle {
                        width: 100%;
                        border-radius: 50%;
                        height: rem(34);
                        min-height: rem(34);

                        img {
                            display: block;
                            border-radius: 50%;
                            border: 1px solid #e0e0e0;
                            object-fit: cover;
                            min-height: rem(34);

                        }
                    }
                }
            }
        }
    }
    .loadingSkeleton{
        display: flex;
    }
}