@import '../../../assets/scss/main.scss';

.breadcrumbAllContentAlignment {
    padding: rem(18 0);
    border-bottom: 1px solid getColorHex('border-color-2');
    border-top: 1px solid getColorHex('border-color-2');

    .contentAlignment {
        display: flex;
        align-items: center;
        gap: rem(6);

        span {
            display: block;
            font-size: rem(16);
            color: getColorHex('gray-800');
        }
    }

    .cursor {
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -2px; // Adjust position as needed
            left: 0;
            background-color: getColorHex('gray-800');
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        &:hover::after {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    .tittle {
        color: #292D36;
    }
}
