@import '../../../assets/scss/main.scss';

.resetPasswordWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(7.5px);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.openModalWrapper {
        opacity: 1;
        visibility: visible;
    }

    .resetPassword {
        box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.12);
        background-color: getColorHex('white');
        padding: rem(40 50);
        width: rem(600);

        .backButton {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                cursor: pointer;
                display: flex !important;
                justify-content: center;
                align-items: center;
                gap: 5px;

                img {
                    width: 19.9px;
                    height: 10px;
                }

                text-align: center;
                font-size: rem(14);
                @include body-regular;
                color: getColorHex("black");

                span {
                    @include body-bold;
                    text-decoration-line: underline;
                    cursor: pointer;
                }
            }
        }

        .button {
            padding: rem(30 0);

            button {
                border: none;
                cursor: pointer;
                color: getColorHex('white');
                font-size: rem(18);
                @include body-medium;
                border: none;
                border-radius: 999px;
                padding: rem(12);
                height: rem(58);
                width: 100%;
                background-color: getColorHex('black');

                @media (max-width:1500px) {
                    padding: rem(10);
                    height: rem(45);
                    font-size: rem(16);
                }
            }
        }

        .textStyle {
            padding: rem(0 0 30 0);

            p {
                font-size: rem(16);
                line-height: rem(28);
                color: getColorHex('gray');
                @include body-medium;
            }

            h2 {
                font-size: rem(24);
                @include body-bold;
                color: getColorHex('black');
                margin: rem(0 0 10 0);
            }
        }

        .modalHeader {
            padding: rem(0 0 50 0);

            img {
                max-width: rem(164);
                cursor: pointer;
            }
        }

        .closeIcon {
            display: flex;
            justify-content: flex-end;

            svg {
                cursor: pointer;
            }
        }
    }
}