@import '../../../../assets/scss/main.scss';

.editorsPickDetails {
    .cardDetails {
        padding: rem(18 0 0 0);

        h3 {
            font-size: rem(18);
            @include heading-font;
            color: getColorHex('black');
            line-height: normal;
            margin: rem(0 0 18 0);

            @include md {
                font-size: rem(20);
                @include transition-3s;

                &:hover {
                    text-decoration-line: underline;
                }
            }
        }

        p {
            font-size: rem(14);
            line-height: rem(24);
            color: getColorHex('gray');
            opacity: 0.9;
            @include body-medium;

            @include md {
                font-size: rem(16);
                line-height: rem(28);
            }
        }

        .firstColumn {
            display: flex;
            align-items: center;
            gap: rem(20);
            padding: rem(0 0 18 0);

            ul {
                margin: 0;
                padding: 0 0 0 20px;
                list-style: disc;

                li {
                    font-size: rem(14);
                    @include body-medium;
                    color: getColorHex('gray');
                }
            }

            .leftContent {
                display: flex;
                align-items: center;
                gap: rem(8);

                span {
                    display: block;
                    font-size: rem(14);
                    @include body-medium;
                    color: getColorHex('gray');
                }

                .profileImage {
                    border-radius: 50%;

                    .profileImageStyle {
                        width: rem(34);
                        height: rem(34);
                        min-height: rem(34);
                        border-radius: 50%;

                        img {
                            display: block;
                            height: rem(34);
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .imageStyle {
        width: 100%;
        height: 100%;
        position: relative;

        .buttonDesign {
            padding: rem(15);
            position: absolute;
            top: 0;
            left: 0;

            button {
                border: none;
                padding: rem(8 15);
                background-color: getColorHex('black');
                color: getColorHex('white');
                border-radius: 999px;
                font-size: rem(12);
                @include body-bold;
            }
        }

        .cardImage {
            width: 100%;
            height: 250px;
            border-radius: rem(10);

            img {
                border-radius: rem(10);
                display: block;
            }
        }
    }
}