@import '../../../assets/scss/main.scss';

.buttonDesign {
    &.fill {
     button {
        color: getColorHex('white');
        background-color: getColorHex('black');
     }
    }
    &.outline {
      button {
        border: 1px solid getColorHex('black');
        background-color: transparent;
        color: getColorHex('black');
      }
    }
    button {
        border: none;
        padding: rem(2 10);
        cursor: pointer;
        border-radius: 99px;
        font-size: rem(12);
        line-height: rem(20);
        letter-spacing: 0.48px;
        display: flex;
        align-items: center;
        gap: rem(4);
        @include body-bold;

       

   

        @include md {
            gap: rem(8);
            font-size: rem(15);
            padding: rem(8 22);
            height: rem(50);
            line-height: rem(24);
        }

        svg {
            width: rem(14);

            @include md {
                width: auto;
            }
        }
    }
}