@import '../../assets/scss/main.scss';

.privacyPolicyAlignment {
    padding: rem(60 0);
    h1 {
        font-size: rem(24);
        @include heading-font;
        color: getColorHex('black');
        line-height: rem(32);
        margin: rem(0 0 40 0);

        @include md {
            font-size: rem(36);
            line-height: normal;
        }
    }
    h2 {
        font-size: rem(24);
        line-height: rem(34);
        @include heading-font;
        color: getColorHex('black');
        margin: rem(0 0 20 0);
    }

    h3, h4,h5,h6 {
        font-size: rem(20);
        line-height: rem(30);
        @include heading-font;
        color: getColorHex('black');
        margin: rem(0 0 20 0);
    }

    p {
        font-size: rem(16);
        line-height: rem(28);
        color: getColorHex('gray-800');
        margin: 0 0 20px 0;
        @include body-medium;
    }

    ul , ol {
        padding:  0 0 20px 20px;
        li {
            font-size: rem(16);
            line-height: rem(28);
        color: getColorHex('gray-800');

        }
    }

    p{

    }
}